@model AlphaFacev2.Models.VerifiedFace
@{
    ViewData["Title"] = "ComparisonResults";
}

<h5>Comparison results</h5>
<hr />
<div class="row">
    <div class="form-group">
        <div class="col-md-10">
            <p>Is identical: @Model.IsIdentical</p>
        </div>
        <div class="col-md-10">
            <p>Confidence: @Model.Confidence</p>
        </div>
    </div>

</div>


