@model IEnumerable<AlphaFacev2.Models.Face>

@inject AlphaFacev2.Services.AccountServices  accountServices

@{
    ViewData["Title"] = "ComparisonResults";
}

@{
    var user = accountServices.GetCurrentUser();
}

<div class="w3-padding-16"></div>

<div class="w3-content w3-container w3-padding-16" id="home">
    <h3 class="w3-center">Your comparison results history</h3>
    <p class="w3-center"><em>On this page you can see your face comparison history! Press <a asp-controller="Faces" asp-action="Index">here</a> to do another comparison!</em> </p>
</div>
<p></p>
@foreach (var item in Model)
{
    if (item.ProfileId == user.Id)
    {
        <div class="w3-content w3-black w3-container w3-padding-16 w3-card" id="home">
            <table class="w3-table w3-centered w3-text-white">
                <tr>
                    <th>Profile picture</th>
                    <th>Comparison picture</th>
                    <th>It's you?</th>
                    <th>Confidence</th>
                </tr>
                <tr style="vertical-align:middle">
                    <td>
                        @{
                            var byteArray = item.ProfileImage;
                            var base64 = Convert.ToBase64String(byteArray);
                            var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                        }
                        <img src="@imgSrc" class="w3-round-large" style="height:180px;" alt="Profile picture">
                    </td>
                    <td>
                        @{
                            var byteArray2 = item.ComparisonImage;
                            var base642 = Convert.ToBase64String(byteArray2);
                            var imgSrc2 = String.Format("data:image/jpg;base64,{0}", base642);
                        }
                        <img src="@imgSrc2" class="w3-round-large" style="height:180px;" alt="Profile picture">
                    </td>
                    <td class="w3-xlarge" style="vertical-align:middle;">
                        @{
                            if (item.IsIdentical == true)
                            {
                                @:Yes
                            }
                            else
                            {
                                @:No
                            }
                        }
                    </td>
                    <td class="w3-xlarge" style="vertical-align:middle">
                        @{ 
                            var confidence = $"{item.Confidence:P1}";
                        }
                        @confidence
                    </td>
                </tr>
            </table>
        </div>
        <p></p>
    }
}
