@model IEnumerable<AlphaFacev2.Models.Image>
@using Microsoft.AspNetCore.Http

@inject AlphaFacev2.Services.AccountServices  accountServices

@{
    ViewData["Title"] = "Index";
}

@{
    var user = accountServices.GetCurrentUser();
}

<div class="w3-padding-16"></div>

<div class="w3-content w3-container w3-padding-16" id="home">
    <h3 class="w3-center">Do a face comparison!</h3>
    <p class="w3-center"><em>Take a picture with your webcam to compare it with your profile picture!</em></p>
    <p class="w3-center"><a asp-controller="Faces" asp-action="Compare"><em>...or upload a picture from your computer!</em></a></p>
</div>

<!-- First Grid: Logo & About -->
<div class="w3-padding-16 w3-center">
    <div class="w3-row">
        <div class="w3-half w3-black w3-container w3-center" style="height:600px">
            <div class="w3-padding-16">
                <h1>Profile picture</h1>
            </div>
            <div class="w3-padding-16">
                @{
                    byte[] byteArray = new byte[1];
                    if (user.ProfileImage == null)
                    {
                        byteArray[0] = 0;
                    }
                    else
                    {
                        byteArray = user.ProfileImage;
                    }
                    var base64 = Convert.ToBase64String(byteArray);
                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                }

                @if (user.ProfileImage != null)
                {
                    <img src="@imgSrc" style="height:320px;" alt="Profile picture">
                }
                else
                {
                    <img src="~/images/no-profile-pic.jpg" style="height:320px;" alt="Profile picture">
                }
            </div>
        </div>

        <div class="w3-half w3-dark-grey w3-container w3-center" style="height:600px">
            <div class="w3-padding-16">
                <div>
                    <h1>Webcam picture</h1>
                </div>
                <div class="w3-padding-16">
                    <div class="w3-center" style="height:320px;" alt="Webcam picture">
                        <section>
                            <div>
                                <div class="w3-center w3-panel">
                                    <div style="margin: 0% 0% 0% 17%" id="my_camera"></div>
                                    <!-- A button for taking snaps -->
                                    <div>
                                        <br />

                                    </div>
                                </div>
                                <form>
                                    <div>
                                        <input id="pre_take_buttons" class="w3-centered w3-blue-grey w3-large w3-letter-spacing-small w3-animate-opacity w3-opacity-min w3-hover-opacity-off w3-btn" type="button" style="width:400px" value="Take Snapshot" onClick="preview_snapshot()">
                                        <h6><i id="picture_Uploaded"></i></h6>
                                    </div>
                                    <div id="post_take_buttons" style="display: none;">
                                        <input class="w3-centered w3-blue-grey w3-large w3-letter-spacing-small w3-animate-opacity w3-opacity-min w3-hover-opacity-off w3-btn" type="button" style="width:200px" value="Take Another" onclick="cancel_preview()">
                                        <input class="w3-centered w3-blue-grey w3-large w3-letter-spacing-small w3-animate-opacity w3-opacity-min w3-hover-opacity-off w3-btn" type="button" style="width:200px" value="Save Photo" onclick="save_photo()">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2">    </div>
                            <!-- First, include the Webcam.js JavaScript Library -->
                            <script src="~/webcamjs/webcam.js"></script>
                            <!-- Configure a few settings and attach camera -->
                            <script language="JavaScript">
                                Webcam.set({
                                    width: 427.2,
                                    height: 320,
                                    image_format: 'jpeg',
                                    jpeg_quality: 100,
                                    flip_horiz: true
                                });
                                Webcam.attach('#my_camera');
                            </script>

                            <!-- Code to handle taking the snapshot and displaying it locally -->
                            <script language="JavaScript">
                                function preview_snapshot() {
                                    // freeze camera so user can preview pic
                                    Webcam.freeze();

                                    // swap button sets
                                    document.getElementById('pre_take_buttons').style.display = 'none';
                                    document.getElementById('post_take_buttons').style.display = '';
                                    document.getElementById('picture_Uploaded').innerHTML = '';
                                }

                                function cancel_preview() {
                                    // cancel preview freeze and return to live camera feed
                                    Webcam.unfreeze();

                                    // swap buttons back
                                    document.getElementById('pre_take_buttons').style.display = '';
                                    document.getElementById('post_take_buttons').style.display = 'none';
                                }

                                function save_photo() {
                                    // actually snap photo (from preview freeze) and display it
                                    Webcam.snap(function (data_uri) {
                                        //// display results in page
                                        //document.getElementById('results').innerHTML =
                                        //    '<img src="' + data_uri + '"/>';

                                        Webcam.upload(data_uri, '/Faces/Capture', function (code, text) {
                                                                                                                                                                                                                                                                                                                                                                        /*alert('Photo Captured')*/;
                                        });

                                        // swap buttons back and add message for user
                                        document.getElementById('pre_take_buttons').style.display = '';
                                        document.getElementById('post_take_buttons').style.display = 'none';
                                        document.getElementById('picture_Uploaded').innerHTML = 'Your pictures has been uploaded. Click below to compare!';
                                    });
                                }
                            </script>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        if (user.ProfileImage == null)
        {
            <form method="post" asp-controller="Faces" asp-action="Face" style="text-align:left">
                <input type="submit" class="w3-centered w3-blue-grey w3-large w3-letter-spacing-small w3-animate-opacity w3-opacity-min w3-hover-opacity-off w3-btn" value="Click here to upload a picture for AFace authentication!" style="width:100%; height:80px; font-size:larger;">
            </form>
        }
        else
        {
            <form method="post" asp-controller="Faces" asp-action="CompareToWebcamPicture" style="text-align:left">
                <input type="submit" class="w3-centered w3-blue-grey w3-large w3-letter-spacing-small w3-animate-opacity w3-opacity-min w3-hover-opacity-off w3-btn" value="Click here to compare the pictures!" style="width:100%; height:80px; font-size:larger;">
            </form>
        }
    }
</div>
