@model IEnumerable<AlphaFacev2.Models.History>

@inject AlphaFacev2.Services.AccountServices  accountServices

@{
    var user = accountServices.GetCurrentUser();
    <h4>@user.FirstName's login history</h4>
}

@{
    ViewData["Title"] = "Index";

}


<table class="table">
    <thead>
        <tr>
            <th>
                <h6>Login Time</h6>
                @*@Html.DisplayNameFor(model => model.LoginTime)*@
            </th>
            <th>
                <h6>Login success</h6>
                @*@Html.DisplayNameFor(model => model.IsActionSuccess)*@
            </th>
            <th>
                <h6>IP Address</h6>
                @*@Html.DisplayNameFor(model => model.IpAddress)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                if (item.Username == user.UserName)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoginTime)
                        </td>
                        <td>
                            @{ if (item.IsActionSuccess)
                                {
                                    @:True
                                }
                                else
                                {
                                    @:False
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IpAddress)
                        </td>
                    </tr>
                }
            }
        }

    </tbody>
</table>
