@model IEnumerable<AlphaFacev2.Models.History>

@inject AlphaFacev2.Services.AccountServices  accountServices

@{
    var user = accountServices.GetCurrentUser();
}

@{
    ViewData["Title"] = "Index";

}

<div class="w3-padding-16"></div>

<div class="w3-content w3-container w3-padding-16" id="home">
    <h3 class="w3-center">@user.FirstName's login history</h3>
    <p class="w3-center"><em>On this page you can see your login activity!</em></p>
</div>

<div class="w3-content w3-container w3-padding-16 w3-card" id="home">
    
    <table class="w3-table w3-striped">
        <tr>
            <th>Login Time</th>
            <th>Login success</th>
            <th>IP Address</th>
        </tr>
        @{
            foreach (var item in Model)
            {
                if (item.Username == user.UserName)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoginTime)
                        </td>
                        <td>
                            @{ if (item.IsActionSuccess)
                                {
                                    @:Yes
                                }
                                else
                                {
                                    @:No
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IpAddress)
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>