@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Facial recognition: It's time for action</h2>
    <hr />
    <h6>This a face recognition project of Team Alpha.</h6>
    <h5>The project uses the <a href="https://azure.microsoft.com/en-us/services/cognitive-services/face/">Face API</a> from <a href="https://azure.microsoft.com/en-us/services/cognitive-services/">Microsoft Cognitive Services</a>.</h5>

    <div>
        <img src="https://1gew6o3qn6vx9kp3s42ge0y1-wpengine.netdna-ssl.com/wp-content/uploads/prod/sites/5/2018/12/facial_recognition_action.jpg" alt="Face recognition of various people" width="80%">
        <p style="text-align:right; font-size:small; font-style:italic">Source: blogs.microsoft.com</p>
    </div>
</div>