@{
    ViewData["Title"] = "Privacy Policy";
}
@*<div class="w3-content w3-container w3-padding-64" id="about">
    <h2 class="w3-center">Privacy policy</h2>
    <div style="text-align:center; padding: 30px">
        <img src="~/images/privacypolicy.jpg" class="img-fluid" alt="Responsive image" style="width:700px; text-align:center">
    </div>*@

<div class="bgimg-2 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">

        <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"></span><span class="w3-hide-small">Your privacy is important to us! </span>
    </div>
</div>
<div class="w3-content w3-container w3-padding-64" id="about">
    <p class="w3-content w3-black w3-container w3-padding-64 w3-hoverable w3-text-white w3-hover-text-white" id="about">

        Team Alpha is committed to safeguarding the privacy of our website visitors.<br />

        This policy sets out how we will treat your personal information. <br />

        Notice to EU visitors: we use cookies to understand how you use our site and to improve your experience. This includes personalizing content and advertising. By continuing to use our site, you accept our use of cookies and privacy policy.<br />
    </p>
    <p class="w3-content w3-black w3-container w3-padding-64 w3-hoverable w3-text-white w3-hover-text-white" id="about">
        (1) What information do we collect?<br />
        We may collect, store and use the following kinds of personal data:
        (a) information about your visits to and use of this website;
        (b) pictures used for authentification, information that you provide to us for the purposes of contacting us about our services,
        By giving us your information through a Web form, you consent to allow Team Alpha to store and process your information so that our team can contact you.
        We may collect, store and use non-personal data about your visits to and use of this website.<br />
    </p>

    <p class="w3-content w3-black w3-container w3-padding-64 w3-hoverable w3-text-white w3-hover-text-white" id="about">
        (2) Information about website visits <br />
        We may collect information about your computer and your visits to this website such as your IP address, length of visit and number of page views. We may use this information in the administration of this website, to improve the website’s usability, and for marketing purposes.<br />
    </p>
    <p class="w3-content w3-black w3-container w3-padding-64 w3-hoverable w3-text-white w3-hover-text-white" id="about">
        (3) Using your personal data <br />
        Personal data submitted on this website will be used for the purposes specified in this privacy policy or in relevant parts of the website.
        In addition to the uses identified elsewhere in this privacy policy, we may use your personal information to: improve your browsing experience by personalizing the website;<br />
    </p>
    <p class="w3-content w3-black w3-container w3-padding-64 w3-hoverable w3-text-white w3-hover-text-black" id="about">
        (4) Using your non-personal data<br />
        Non-personal data may be collected and shared to provide relevant and targeted advertisements through retargeting. All data is anonymous and cannot be used to identify the visitor.<br />
    </p>
    <p class="w3-content w3-black w3-container w3-padding-64 w3-hoverable w3-text-white w3-hover-text-white" id="about">
        (5) Security of your personal data<br />
        We will take reasonable precautions to prevent the loss, misuse or alteration of your personal information. Of course, data transmission over the Internet is inherently insecure, and we cannot guarantee the security of data sent over the Internet.
        In the event that you are a Team Alpha, customer logging into our support portal, be advised that you are responsible for keeping your passwords confidential. We will not ask you for your passwords.
        We may update this privacy policy from time-to-time by posting a new version on our website. You should check this page occasionally to ensure you are happy with any changes.<br />
    </p>
    <p class="w3-content w3-black w3-container w3-padding-64 w3-hoverable w3-text-white w3-hover-text-white" id="about">
        (6) Please contact Team Alpha if you have questions about this privacy policy.


    </p>
</div>
