@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="w3-content w3-container w3-padding-64" id="about">
    <h2 class="w3-center">Privacy policy</h2>
    <p>
        Your privacy is important to us. This privacy statement explains the personal data Alpha Team processes, how Alpha Team processes it, and for what purposes.<br /><br />

        Alpha Team offers a wide range of products, including server products used to help operate enterprises worldwide, devices you use in your home, software that students use at school, and services developers use to create and host what’s next. References to Alpha Team products in this statement include Alpha Team services, websites, apps, software, servers, and devices.<br /><br />

        Please read the product-specific details in this privacy statement, which provide additional relevant information. This statement applies to the interactions Alpha Team has with you and the Alpha Team products listed below, as well as other Alpha Team products that display this statement.
    </p>
</div>